<html>
    <head>
        <script type="text/javascript" src="/assets/js/table.js"></script>
    </head>
    <body>
        <button onclick="getAlbums()">Test get albums</button>
         <table>
    {{ range $album := .albums }}
        <tr>
            <td>{{ .ID }}</td>
            <td>{{ .Title }}</td>
            <td>{{ .Artist }}</td>
            <td>{{ .Price }}</td>
        </tr>
    {{ end }}
    </table>

    <div id="table_json"></div>
    </body>
</html>